<!DOCTYPE html>
<html>
    <body>
        <form action="/blog/add">
            <label>Title</label>
            <input type="text" name="title">
            <label>Contetent1</label>
            <input type="text" required="required" name="content1">
            <!-- <label>Img src (optional)</label> -->
            <!-- <input type="image" name="imgsrc"> -->
            <!-- <label>Content2</label> -->
            <!-- <input type="text" name="content2"> -->
            <button type="submit">Submit</button>
        </form>
    </body>
</html>